.elementor-72 .elementor-element.elementor-element-0a6193b.ob-is-breaking-bad > .elementor-container > .elementor-row, .elementor-72 .elementor-element.elementor-element-0a6193b.ob-is-breaking-bad > .elementor-container {
	justify-content: flex-start !important;
	flex-direction: row;
}
.elementor-72 .elementor-element.elementor-element-0a6193b.ob-is-breaking-bad.ob-bb-inner > .elementor-container > .elementor-row, .elementor-72 .elementor-element.elementor-element-0a6193b.ob-is-breaking-bad.ob-bb-inner > .elementor-container {
	justify-content: flex-start !important;
	flex-direction: row;
}
.elementor-72 .elementor-element.elementor-element-0a6193b.ob-is-breaking-bad.ob-is-glider > .elementor-container.swiper-container-vertical > .elementor-row, .elementor-72 .elementor-element.elementor-element-0a6193b.ob-is-breaking-bad.ob-is-glider > .elementor-container.swiper-container-vertical {
	flex-direction: column;
}
.elementor-72 .elementor-element.elementor-element-0a6193b.ob-is-breaking-bad.ob-is-glider.ob-bb-inner > .elementor-container.swiper-container-vertical > .elementor-row, .elementor-72 .elementor-element.elementor-element-0a6193b.ob-is-breaking-bad.ob-is-glider.ob-bb-inner > .elementor-container.swiper-container-vertical {
	flex-direction: column;
}
.elementor-72 .elementor-element.elementor-element-0a6193b.ob-is-breaking-bad.ob-bb-inner {
	width: 100%;
	flex: unset;
	align-self: inherit;
}
.elementor-72 .elementor-element.elementor-element-0a6193b:not(.elementor-motion-effects-element-type-background), .elementor-72 .elementor-element.elementor-element-0a6193b > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	/*background-color: var( --e-global-color-b2310dd );*/
	background: #040e27;
	color: #fff;
}

.elementor-72 .elementor-element.elementor-element-0a6193b > .elementor-background-overlay {
/*	background-image: url("../../2021/06/bg_footer.jpg");*/
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.5;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-72 .elementor-element.elementor-element-0a6193b {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 5em 0em 2em 0em;
}
.elementor-72 .elementor-element.elementor-element-a0ef3fc.elementor-column {
	align-self: inherit;
	cursor: default;
}
.elementor-72 .elementor-element.elementor-element-a0ef3fc.ob-is-pseudo > .elementor-element-populated:after {
	transform: rotate(0deg);
}
.elementor-72 .elementor-element.elementor-element-4f2d487.ob-is-breaking-bad > .elementor-container > .elementor-row, .elementor-72 .elementor-element.elementor-element-4f2d487.ob-is-breaking-bad > .elementor-container {
	justify-content: flex-start !important;
	flex-direction: row;
}
.elementor-72 .elementor-element.elementor-element-4f2d487.ob-is-breaking-bad.ob-bb-inner > .elementor-container > .elementor-row, .elementor-72 .elementor-element.elementor-element-4f2d487.ob-is-breaking-bad.ob-bb-inner > .elementor-container {
	justify-content: flex-start !important;
	flex-direction: row;
}
.elementor-72 .elementor-element.elementor-element-4f2d487.ob-is-breaking-bad.ob-is-glider > .elementor-container.swiper-container-vertical > .elementor-row, .elementor-72 .elementor-element.elementor-element-4f2d487.ob-is-breaking-bad.ob-is-glider > .elementor-container.swiper-container-vertical {
	flex-direction: column;
}
.elementor-72 .elementor-element.elementor-element-4f2d487.ob-is-breaking-bad.ob-is-glider.ob-bb-inner > .elementor-container.swiper-container-vertical > .elementor-row, .elementor-72 .elementor-element.elementor-element-4f2d487.ob-is-breaking-bad.ob-is-glider.ob-bb-inner > .elementor-container.swiper-container-vertical {
	flex-direction: column;
}
.elementor-72 .elementor-element.elementor-element-4f2d487.ob-is-breaking-bad.ob-bb-inner {
	width: 100%;
	flex: unset;
	align-self: inherit;
}
.elementor-72 .elementor-element.elementor-element-4f2d487 {
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #fff;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0em 0em 0em 0em;
}
.elementor-72 .elementor-element.elementor-element-4f2d487 > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-72 .elementor-element.elementor-element-ea7a810.elementor-column {
	align-self: inherit;
	cursor: default;
}
.elementor-72 .elementor-element.elementor-element-ea7a810 > .elementor-element-populated {
	padding: 2em 2em 2em 2em;
}
.elementor-72 .elementor-element.elementor-element-ea7a810.ob-is-pseudo > .elementor-element-populated:after {
	transform: rotate(0deg);
}
.elementor-72 .elementor-element.elementor-element-276c298 {
	text-align: left;
}
.elementor-72 .elementor-element.elementor-element-276c298.ob-has-background-overlay > .elementor-widget-container:after {
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	transform: rotate(0deg);
}
.elementor-72 .elementor-element.elementor-element-24b80df.ob-harakiri {
	writing-mode: inherit;
}
.elementor-72 .elementor-element.elementor-element-24b80df.ob-harakiri .elementor-heading-title {
	writing-mode: inherit;
}
.elementor-72 .elementor-element.elementor-element-24b80df.ob-harakiri .elementor-widget-container > div {
	writing-mode: inherit;
}
.elementor-72 .elementor-element.elementor-element-24b80df .elementor-widget-container {
	mix-blend-mode: inherit;
}
.elementor-72 .elementor-element.elementor-element-24b80df.ob-has-background-overlay > .elementor-widget-container:after {
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	transform: rotate(0deg);
}
.elementor-72 .elementor-element.elementor-element-93a8c85.elementor-column {
	align-self: inherit;
	cursor: default;
}
.elementor-72 .elementor-element.elementor-element-93a8c85 > .elementor-element-populated {
	padding: 2em 2em 2em 2em;
}
.elementor-72 .elementor-element.elementor-element-93a8c85.ob-is-pseudo > .elementor-element-populated:after {
	transform: rotate(0deg);
}
.elementor-72 .elementor-element.elementor-element-3151745.ob-harakiri {
	writing-mode: inherit;
}
.elementor-72 .elementor-element.elementor-element-3151745.ob-harakiri .elementor-heading-title {
	writing-mode: inherit;
}
.elementor-72 .elementor-element.elementor-element-3151745.ob-harakiri .elementor-widget-container > div {
	writing-mode: inherit;
}
.elementor-72 .elementor-element.elementor-element-3151745 .elementor-widget-container {
	mix-blend-mode: inherit;
}
.elementor-72 .elementor-element.elementor-element-3151745.ob-has-background-overlay > .elementor-widget-container:after {
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	transform: rotate(0deg);
}
.elementor-72 .elementor-element.elementor-element-2d943e8 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(6px/2);
}
.elementor-72 .elementor-element.elementor-element-2d943e8 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(6px/2);
}
.elementor-72 .elementor-element.elementor-element-2d943e8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(6px/2);
	margin-left: calc(6px/2);
}
.elementor-72 .elementor-element.elementor-element-2d943e8 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-6px/2);
	margin-left: calc(-6px/2);
}
body.rtl .elementor-72 .elementor-element.elementor-element-2d943e8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-6px/2);
}
body:not(.rtl) .elementor-72 .elementor-element.elementor-element-2d943e8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-6px/2);
}
.elementor-72 .elementor-element.elementor-element-2d943e8 {
--e-icon-list-icon-size:14px;
}
.elementor-72 .elementor-element.elementor-element-2d943e8 .elementor-icon-list-text {
	color: #fff;
}
.elementor-72 .elementor-element.elementor-element-2d943e8 .elementor-icon-list-item:hover .elementor-icon-list-text {
	/*color: var( --e-global-color-ffffff );*/
	color: #fff;
}
.elementor-72 .elementor-element.elementor-element-2d943e8 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-72 .elementor-element.elementor-element-2d943e8 .elementor-icon-list-item > a {
	font-family: var( --e-global-typography-ce49889-font-family ), Sans-serif;
	font-size: var( --e-global-typography-ce49889-font-size );
	font-weight: var( --e-global-typography-ce49889-font-weight );
	line-height: var( --e-global-typography-ce49889-line-height );
	letter-spacing: var( --e-global-typography-ce49889-letter-spacing );
}
.elementor-72 .elementor-element.elementor-element-2d943e8.ob-has-background-overlay > .elementor-widget-container:after {
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	transform: rotate(0deg);
}
.elementor-72 .elementor-element.elementor-element-689a0ef.elementor-column {
	align-self: inherit;
	cursor: default;
}
.elementor-72 .elementor-element.elementor-element-689a0ef > .elementor-element-populated {
	padding: 2em 2em 2em 2em;
}
.elementor-72 .elementor-element.elementor-element-689a0ef.ob-is-pseudo > .elementor-element-populated:after {
	transform: rotate(0deg);
}
.elementor-72 .elementor-element.elementor-element-8dd927a.ob-harakiri {
	writing-mode: inherit;
}
.elementor-72 .elementor-element.elementor-element-8dd927a.ob-harakiri .elementor-heading-title {
	writing-mode: inherit;
}
.elementor-72 .elementor-element.elementor-element-8dd927a.ob-harakiri .elementor-widget-container > div {
	writing-mode: inherit;
}
.elementor-72 .elementor-element.elementor-element-8dd927a .elementor-widget-container {
	mix-blend-mode: inherit;
}
.elementor-72 .elementor-element.elementor-element-8dd927a.ob-has-background-overlay > .elementor-widget-container:after {
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	transform: rotate(0deg);
}
.elementor-72 .elementor-element.elementor-element-4a7e35e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(6px/2);
}
.elementor-72 .elementor-element.elementor-element-4a7e35e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(6px/2);
}
.elementor-72 .elementor-element.elementor-element-4a7e35e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(6px/2);
	margin-left: calc(6px/2);
}
.elementor-72 .elementor-element.elementor-element-4a7e35e .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-6px/2);
	margin-left: calc(-6px/2);
}
body.rtl .elementor-72 .elementor-element.elementor-element-4a7e35e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-6px/2);
}
body:not(.rtl) .elementor-72 .elementor-element.elementor-element-4a7e35e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-6px/2);
}
.elementor-72 .elementor-element.elementor-element-4a7e35e {
--e-icon-list-icon-size:14px;
}
.elementor-72 .elementor-element.elementor-element-4a7e35e .elementor-icon-list-text {
	color: #fff;
}
.elementor-72 .elementor-element.elementor-element-4a7e35e .elementor-icon-list-item:hover .elementor-icon-list-text {
	color: #fff;
}
.elementor-72 .elementor-element.elementor-element-4a7e35e .elementor-icon-list-item > .elementor-icon-list-text, .elementor-72 .elementor-element.elementor-element-4a7e35e .elementor-icon-list-item > a {
	font-family: var( --e-global-typography-ce49889-font-family ), Sans-serif;
	font-size: var( --e-global-typography-ce49889-font-size );
	font-weight: var( --e-global-typography-ce49889-font-weight );
	line-height: var( --e-global-typography-ce49889-line-height );
	letter-spacing: var( --e-global-typography-ce49889-letter-spacing );
}
.elementor-72 .elementor-element.elementor-element-4a7e35e.ob-has-background-overlay > .elementor-widget-container:after {
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	transform: rotate(0deg);
}
.elementor-72 .elementor-element.elementor-element-d4c11ae.elementor-column {
	align-self: inherit;
	cursor: default;
}
.elementor-72 .elementor-element.elementor-element-d4c11ae > .elementor-element-populated {
	padding: 2em 2em 2em 2em;
}
.elementor-72 .elementor-element.elementor-element-d4c11ae.ob-is-pseudo > .elementor-element-populated:after {
	transform: rotate(0deg);
}
.elementor-72 .elementor-element.elementor-element-e315390.ob-harakiri {
	writing-mode: inherit;
}
.elementor-72 .elementor-element.elementor-element-e315390.ob-harakiri .elementor-heading-title {
	writing-mode: inherit;
}
.elementor-72 .elementor-element.elementor-element-e315390.ob-harakiri .elementor-widget-container > div {
	writing-mode: inherit;
}
.elementor-72 .elementor-element.elementor-element-e315390 .elementor-widget-container {
	mix-blend-mode: inherit;
}
.elementor-72 .elementor-element.elementor-element-e315390.ob-has-background-overlay > .elementor-widget-container:after {
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	transform: rotate(0deg);
}
.elementor-72 .elementor-element.elementor-element-ab27332.ob-harakiri {
	writing-mode: inherit;
}
.elementor-72 .elementor-element.elementor-element-ab27332.ob-harakiri .elementor-heading-title {
	writing-mode: inherit;
}
.elementor-72 .elementor-element.elementor-element-ab27332.ob-harakiri .elementor-widget-container > div {
	writing-mode: inherit;
}
.elementor-72 .elementor-element.elementor-element-ab27332 .elementor-widget-container {
	mix-blend-mode: inherit;
}
.elementor-72 .elementor-element.elementor-element-ab27332.ob-has-background-overlay > .elementor-widget-container:after {
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	transform: rotate(0deg);
}
.elementor-72 .elementor-element.elementor-element-ec07b74 .elementor-field-group {
	padding-right: calc( 10px/2 );
	padding-left: calc( 10px/2 );
	margin-bottom: 10px;
}
.elementor-72 .elementor-element.elementor-element-ec07b74 .elementor-form-fields-wrapper {
	margin-left: calc( -10px/2 );
	margin-right: calc( -10px/2 );
	margin-bottom: -10px;
}
.elementor-72 .elementor-element.elementor-element-ec07b74 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-72 .elementor-element.elementor-element-ec07b74 .elementor-field-group.recaptcha_v3-bottomright {
	margin-bottom: 0;
}
body.rtl .elementor-72 .elementor-element.elementor-element-ec07b74 .elementor-labels-inline .elementor-field-group > label {
	padding-left: 0px;
}
body:not(.rtl) .elementor-72 .elementor-element.elementor-element-ec07b74 .elementor-labels-inline .elementor-field-group > label {
	padding-right: 0px;
}
body .elementor-72 .elementor-element.elementor-element-ec07b74 .elementor-labels-above .elementor-field-group > label {
	padding-bottom: 0px;
}
.elementor-72 .elementor-element.elementor-element-ec07b74 .elementor-field-type-html {
	padding-bottom: 0px;
}
.elementor-72 .elementor-element.elementor-element-ec07b74 {
--e-form-steps-indicators-spacing:20px;
--e-form-steps-indicator-padding:30px;
--e-form-steps-indicator-inactive-secondary-color:#ffffff;
--e-form-steps-indicator-active-secondary-color:#ffffff;
--e-form-steps-indicator-completed-secondary-color:#ffffff;
--e-form-steps-divider-width:1px;
--e-form-steps-divider-gap:10px;
}
.elementor-72 .elementor-element.elementor-element-ec07b74.ob-has-background-overlay > .elementor-widget-container:after {
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	transform: rotate(0deg);
}
.elementor-72 .elementor-element.elementor-element-4e0a127 > .elementor-container > .elementor-column > .elementor-widget-wrap {
	align-content: center;
	align-items: center;
}
.elementor-72 .elementor-element.elementor-element-4e0a127.ob-is-breaking-bad > .elementor-container > .elementor-row, .elementor-72 .elementor-element.elementor-element-4e0a127.ob-is-breaking-bad > .elementor-container {
	justify-content: flex-start !important;
	flex-direction: row;
}
.elementor-72 .elementor-element.elementor-element-4e0a127.ob-is-breaking-bad.ob-bb-inner > .elementor-container > .elementor-row, .elementor-72 .elementor-element.elementor-element-4e0a127.ob-is-breaking-bad.ob-bb-inner > .elementor-container {
	justify-content: flex-start !important;
	flex-direction: row;
}
.elementor-72 .elementor-element.elementor-element-4e0a127.ob-is-breaking-bad.ob-is-glider > .elementor-container.swiper-container-vertical > .elementor-row, .elementor-72 .elementor-element.elementor-element-4e0a127.ob-is-breaking-bad.ob-is-glider > .elementor-container.swiper-container-vertical {
	flex-direction: column;
}
.elementor-72 .elementor-element.elementor-element-4e0a127.ob-is-breaking-bad.ob-is-glider.ob-bb-inner > .elementor-container.swiper-container-vertical > .elementor-row, .elementor-72 .elementor-element.elementor-element-4e0a127.ob-is-breaking-bad.ob-is-glider.ob-bb-inner > .elementor-container.swiper-container-vertical {
	flex-direction: column;
}
.elementor-72 .elementor-element.elementor-element-4e0a127.ob-is-breaking-bad.ob-bb-inner {
	width: 100%;
	flex: unset;
	align-self: inherit;
}
.elementor-72 .elementor-element.elementor-element-4e0a127 {
	padding: 1em 0em 1em 0em;
}
.elementor-72 .elementor-element.elementor-element-29382b9.elementor-column {
	align-self: inherit;
	cursor: default;
}
.elementor-72 .elementor-element.elementor-element-29382b9.ob-is-pseudo > .elementor-element-populated:after {
	transform: rotate(0deg);
}
.elementor-72 .elementor-element.elementor-element-0cec0b8 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(16px/2);
}
.elementor-72 .elementor-element.elementor-element-0cec0b8 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(16px/2);
}
.elementor-72 .elementor-element.elementor-element-0cec0b8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(16px/2);
	margin-left: calc(16px/2);
}
.elementor-72 .elementor-element.elementor-element-0cec0b8 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-16px/2);
	margin-left: calc(-16px/2);
}
body.rtl .elementor-72 .elementor-element.elementor-element-0cec0b8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-16px/2);
}
body:not(.rtl) .elementor-72 .elementor-element.elementor-element-0cec0b8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-16px/2);
}
.elementor-72 .elementor-element.elementor-element-0cec0b8 {
--e-icon-list-icon-size:14px;
}
.elementor-72 .elementor-element.elementor-element-0cec0b8 .elementor-icon-list-text {
	color: #fff;
	padding-left: 16px;
}
.elementor-72 .elementor-element.elementor-element-0cec0b8 .elementor-icon-list-item:hover .elementor-icon-list-text {
	color: var( --e-global-color-b605180 );
}
.elementor-72 .elementor-element.elementor-element-0cec0b8 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-72 .elementor-element.elementor-element-0cec0b8 .elementor-icon-list-item > a {
	font-family: var( --e-global-typography-46a9280-font-family ), Sans-serif;
	font-size: var( --e-global-typography-46a9280-font-size );
	font-weight: var( --e-global-typography-46a9280-font-weight );
	line-height: var( --e-global-typography-46a9280-line-height );
	letter-spacing: var( --e-global-typography-46a9280-letter-spacing );
}
.elementor-72 .elementor-element.elementor-element-0cec0b8.ob-has-background-overlay > .elementor-widget-container:after {
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	transform: rotate(0deg);
}
.elementor-72 .elementor-element.elementor-element-1ce5b46.elementor-column {
	align-self: inherit;
	cursor: default;
}
.elementor-72 .elementor-element.elementor-element-1ce5b46.ob-is-pseudo > .elementor-element-populated:after {
	transform: rotate(0deg);
}
.elementor-72 .elementor-element.elementor-element-8afdbb6 {
--grid-template-columns:repeat(0, auto);
--icon-size:12px;
--grid-column-gap:5px;
--grid-row-gap:0px;
}
.elementor-72 .elementor-element.elementor-element-8afdbb6 .elementor-widget-container {
	text-align: center;
}
.elementor-72 .elementor-element.elementor-element-8afdbb6 .elementor-social-icon {
	/*background-color: var( --e-global-color-ace720c );*/
}
.elementor-72 .elementor-element.elementor-element-8afdbb6 .elementor-social-icon:hover {
	background-color: var( --e-global-color-b2310dd );
}
.elementor-72 .elementor-element.elementor-element-8afdbb6 .elementor-social-icon:hover i {
	color: var( --e-global-color-b605180 );
}
.elementor-72 .elementor-element.elementor-element-8afdbb6 .elementor-social-icon:hover svg {
	fill: var( --e-global-color-b605180 );
}
.elementor-72 .elementor-element.elementor-element-8afdbb6.ob-has-background-overlay > .elementor-widget-container:after {
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	transform: rotate(0deg);
}
.elementor-72 .elementor-element.elementor-element-12b6a0e.elementor-column {
	align-self: inherit;
	cursor: default;
}
.elementor-72 .elementor-element.elementor-element-12b6a0e.ob-is-pseudo > .elementor-element-populated:after {
	transform: rotate(0deg);
}
.elementor-72 .elementor-element.elementor-element-72c8974 {
	text-align: right;
}
.elementor-72 .elementor-element.elementor-element-72c8974 .elementor-heading-title {
	font-family: var( --e-global-typography-46a9280-font-family ), Sans-serif;
	font-size: var( --e-global-typography-46a9280-font-size );
	font-weight: var( --e-global-typography-46a9280-font-weight );
	line-height: var( --e-global-typography-46a9280-line-height );
	letter-spacing: var( --e-global-typography-46a9280-letter-spacing );
}
.elementor-72 .elementor-element.elementor-element-72c8974.ob-harakiri {
	writing-mode: inherit;
}
.elementor-72 .elementor-element.elementor-element-72c8974.ob-harakiri .elementor-heading-title {
	writing-mode: inherit;
}
.elementor-72 .elementor-element.elementor-element-72c8974.ob-harakiri .elementor-widget-container > div {
	writing-mode: inherit;
}
.elementor-72 .elementor-element.elementor-element-72c8974 .elementor-widget-container {
	mix-blend-mode: inherit;
}
.elementor-72 .elementor-element.elementor-element-72c8974.ob-has-background-overlay > .elementor-widget-container:after {
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	transform: rotate(0deg);
}

@media(max-width:1024px) {
.elementor-72 .elementor-element.elementor-element-2d943e8 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-72 .elementor-element.elementor-element-2d943e8 .elementor-icon-list-item > a {
	font-size: var( --e-global-typography-ce49889-font-size );
	line-height: var( --e-global-typography-ce49889-line-height );
	letter-spacing: var( --e-global-typography-ce49889-letter-spacing );
}
.elementor-72 .elementor-element.elementor-element-4a7e35e .elementor-icon-list-item > .elementor-icon-list-text, .elementor-72 .elementor-element.elementor-element-4a7e35e .elementor-icon-list-item > a {
	font-size: var( --e-global-typography-ce49889-font-size );
	line-height: var( --e-global-typography-ce49889-line-height );
	letter-spacing: var( --e-global-typography-ce49889-letter-spacing );
}
.elementor-72 .elementor-element.elementor-element-0cec0b8 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-72 .elementor-element.elementor-element-0cec0b8 .elementor-icon-list-item > a {
	font-size: var( --e-global-typography-46a9280-font-size );
	line-height: var( --e-global-typography-46a9280-line-height );
	letter-spacing: var( --e-global-typography-46a9280-letter-spacing );
}
.elementor-72 .elementor-element.elementor-element-72c8974 .elementor-heading-title {
	font-size: var( --e-global-typography-46a9280-font-size );
	line-height: var( --e-global-typography-46a9280-line-height );
	letter-spacing: var( --e-global-typography-46a9280-letter-spacing );
}
}

@media(max-width:767px) {
.elementor-72 .elementor-element.elementor-element-0a6193b {
	padding: 2em 0em 1em 0em;
}
.elementor-72 .elementor-element.elementor-element-ea7a810 > .elementor-element-populated {
	padding: 1em 1em 1em 1em;
}
.elementor-72 .elementor-element.elementor-element-93a8c85 > .elementor-element-populated {
	padding: 1em 1em 1em 1em;
}
.elementor-72 .elementor-element.elementor-element-2d943e8 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-72 .elementor-element.elementor-element-2d943e8 .elementor-icon-list-item > a {
	font-size: var( --e-global-typography-ce49889-font-size );
	line-height: var( --e-global-typography-ce49889-line-height );
	letter-spacing: var( --e-global-typography-ce49889-letter-spacing );
}
.elementor-72 .elementor-element.elementor-element-689a0ef > .elementor-element-populated {
	padding: 1em 1em 1em 1em;
}
.elementor-72 .elementor-element.elementor-element-4a7e35e .elementor-icon-list-item > .elementor-icon-list-text, .elementor-72 .elementor-element.elementor-element-4a7e35e .elementor-icon-list-item > a {
	font-size: var( --e-global-typography-ce49889-font-size );
	line-height: var( --e-global-typography-ce49889-line-height );
	letter-spacing: var( --e-global-typography-ce49889-letter-spacing );
}
.elementor-72 .elementor-element.elementor-element-d4c11ae > .elementor-element-populated {
	padding: 1em 1em 1em 1em;
}
.elementor-72 .elementor-element.elementor-element-0cec0b8 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-72 .elementor-element.elementor-element-0cec0b8 .elementor-icon-list-item > a {
	font-size: var( --e-global-typography-46a9280-font-size );
	line-height: var( --e-global-typography-46a9280-line-height );
	letter-spacing: var( --e-global-typography-46a9280-letter-spacing );
}
.elementor-72 .elementor-element.elementor-element-72c8974 {
	text-align: center;
}
.elementor-72 .elementor-element.elementor-element-72c8974 .elementor-heading-title {
	font-size: var( --e-global-typography-46a9280-font-size );
	line-height: var( --e-global-typography-46a9280-line-height );
	letter-spacing: var( --e-global-typography-46a9280-letter-spacing );
}
}

@media(min-width:768px) {
.elementor-72 .elementor-element.elementor-element-ea7a810 {
	width: 30%;
}
.elementor-72 .elementor-element.elementor-element-93a8c85 {
	width: 20%;
}
.elementor-72 .elementor-element.elementor-element-689a0ef {
	width: 20%;
}
.elementor-72 .elementor-element.elementor-element-d4c11ae {
	width: 30%;
}
.elementor-72 .elementor-element.elementor-element-29382b9 {
	width: 42%;
}
.elementor-72 .elementor-element.elementor-element-1ce5b46 {
	width: 15.664%;
}
.elementor-72 .elementor-element.elementor-element-12b6a0e {
	width: 42%;
}
}

@media(max-width:1024px) and (min-width:768px) {
.elementor-72 .elementor-element.elementor-element-ea7a810 {
	width: 100%;
}
.elementor-72 .elementor-element.elementor-element-93a8c85 {
	width: 30%;
}
.elementor-72 .elementor-element.elementor-element-689a0ef {
	width: 30%;
}
.elementor-72 .elementor-element.elementor-element-d4c11ae {
	width: 40%;
}
}
