.elementor-kit-3 {
--e-global-color-primary:#6EC1E4;
--e-global-color-secondary:#54595F;
--e-global-color-text:#000;
--e-global-color-accent:#61CE70;
--e-global-color-7895cc3:#000;
--e-global-color-b2310dd:#1F242E;
--e-global-color-ace720c:#555C67;
--e-global-color-1a97da0:#444D5F;
--e-global-color-b605180:#0060ff;
--e-global-color-582b2de:#006D5C;
--e-global-color-a5eb6b4:#FFFFFF;
--e-global-color-3303c00:#0085fe;
--e-global-color-9868937:#000000;
--e-global-typography-primary-font-family:"Roboto";
--e-global-typography-primary-font-weight:600;
--e-global-typography-secondary-font-family:"Roboto Slab";
--e-global-typography-secondary-font-weight:400;
--e-global-typography-text-font-family:"Roboto";
--e-global-typography-text-font-weight:400;
--e-global-typography-accent-font-family:"Roboto";
--e-global-typography-accent-font-weight:500;
--e-global-typography-085b5de-font-family:"Heebo";
--e-global-typography-085b5de-font-size:16px;
--e-global-typography-085b5de-font-weight:300;
--e-global-typography-085b5de-line-height:1.6em;
--e-global-typography-46a9280-font-family:"Heebo";
--e-global-typography-46a9280-font-size:14px;
--e-global-typography-46a9280-font-weight:normal;
--e-global-typography-dcb1a32-font-family:"Exo 2";
--e-global-typography-dcb1a32-font-size:64px;
--e-global-typography-dcb1a32-font-weight:700;
--e-global-typography-dcb1a32-line-height:1em;
--e-global-typography-9f2a5a0-font-family:"Exo 2";
--e-global-typography-9f2a5a0-font-size:50px;
--e-global-typography-9f2a5a0-font-weight:700;
--e-global-typography-9f2a5a0-line-height:1.2em;
--e-global-typography-c51ecf0-font-family:"Heebo";
--e-global-typography-c51ecf0-font-size:38px;
--e-global-typography-c51ecf0-font-weight:500;
--e-global-typography-c51ecf0-line-height:1.3em;
--e-global-typography-dae5610-font-family:"Heebo";
--e-global-typography-dae5610-font-size:28px;
--e-global-typography-dae5610-font-weight:500;
--e-global-typography-dae5610-line-height:1.3em;
--e-global-typography-6609f2f-font-family:"Heebo";
--e-global-typography-6609f2f-font-size:21px;
--e-global-typography-6609f2f-font-weight:500;
--e-global-typography-6609f2f-line-height:1.4em;
--e-global-typography-e58e5eb-font-family:"Heebo";
--e-global-typography-e58e5eb-font-size:16px;
--e-global-typography-e58e5eb-font-weight:300;
--e-global-typography-e58e5eb-text-transform:uppercase;
--e-global-typography-e58e5eb-line-height:1.6em;
--e-global-typography-e58e5eb-letter-spacing:2px;
--e-global-typography-ce49889-font-family:"Heebo";
--e-global-typography-ce49889-font-size:15px;
--e-global-typography-ce49889-font-weight:500;
/*	color: var( --e-global-color-7895cc3 );*/
	font-family: var( --e-global-typography-085b5de-font-family ), Sans-serif;
	font-size: var( --e-global-typography-085b5de-font-size );
	font-weight: var( --e-global-typography-085b5de-font-weight );
	line-height: var( --e-global-typography-085b5de-line-height );
	letter-spacing: var( --e-global-typography-085b5de-letter-spacing );
	/*background-color: #2C323F;*/
}
.elementor-kit-3 a {
	color: #fff;
}
.elementor-kit-3 a:hover {
	color: #ffffffd4;
}
.elementor-element.elementor-element-09d5b82.ob-harakiri-inherit.elementor-widget.elementor-widget-text-editor .elementor-widget-container p {
	color: #fff;
}
.premium-init-wrapper {
    color: #fff;
}
.elementor-kit-3 h1 {
	color: #000000;
	font-family: var( --e-global-typography-dcb1a32-font-family ), Sans-serif;
	font-size: var( --e-global-typography-dcb1a32-font-size );
	font-weight: var( --e-global-typography-dcb1a32-font-weight );
	line-height: var( --e-global-typography-dcb1a32-line-height );
	letter-spacing: var( --e-global-typography-dcb1a32-letter-spacing );
}
.elementor-kit-3 h2 {
	color: #fff;
	font-family: var( --e-global-typography-9f2a5a0-font-family ), Sans-serif;
	font-size: var( --e-global-typography-9f2a5a0-font-size );
	font-weight: var( --e-global-typography-9f2a5a0-font-weight );
	line-height: var( --e-global-typography-9f2a5a0-line-height );
	letter-spacing: var( --e-global-typography-9f2a5a0-letter-spacing );
}
.elementor-kit-3 h3 {
	font-family: var( --e-global-typography-c51ecf0-font-family ), Sans-serif;
	font-size: var( --e-global-typography-c51ecf0-font-size );
	font-weight: var( --e-global-typography-c51ecf0-font-weight );
	line-height: var( --e-global-typography-c51ecf0-line-height );
	letter-spacing: var( --e-global-typography-c51ecf0-letter-spacing );
}
.elementor-kit-3 h4 {
	font-family: var( --e-global-typography-dae5610-font-family ), Sans-serif;
	font-size: var( --e-global-typography-dae5610-font-size );
	font-weight: var( --e-global-typography-dae5610-font-weight );
	line-height: var( --e-global-typography-dae5610-line-height );
	letter-spacing: var( --e-global-typography-dae5610-letter-spacing );
}
.elementor-kit-3 h5 {
	font-family: var( --e-global-typography-6609f2f-font-family ), Sans-serif;
	font-size: var( --e-global-typography-6609f2f-font-size );
	font-weight: var( --e-global-typography-6609f2f-font-weight );
	line-height: var( --e-global-typography-6609f2f-line-height );
	letter-spacing: var( --e-global-typography-6609f2f-letter-spacing );
}
.elementor-kit-3 h6 {
	color:#fff;
	font-family: var( --e-global-typography-e58e5eb-font-family ), Sans-serif;
	font-size: var( --e-global-typography-e58e5eb-font-size );
	/*{font-weight: var( --e-global-typography-e58e5eb-font-weight );}*/
	text-transform: var( --e-global-typography-e58e5eb-text-transform );
	line-height: var( --e-global-typography-e58e5eb-line-height );
	letter-spacing: var( --e-global-typography-e58e5eb-letter-spacing );
}
.elementor-kit-3 button, .elementor-kit-3 input[type="button"], .elementor-kit-3 input[type="submit"], .elementor-kit-3 .elementor-button {
	font-weight: 500;
	color: var( --e-global-color-a5eb6b4 );
	background-color: #00aefe;
	/*background-color: var( --e-global-color-582b2de );*/
	border-style: solid;
	border-width: 0px 0px 0px 0px;
}
.elementor-kit-3 button:hover, .elementor-kit-3 button:focus, .elementor-kit-3 input[type="button"]:hover, .elementor-kit-3 input[type="button"]:focus, .elementor-kit-3 input[type="submit"]:hover, .elementor-kit-3 input[type="submit"]:focus, .elementor-kit-3 .elementor-button:hover, .elementor-kit-3 .elementor-button:focus {
	color: var( --e-global-color-a5eb6b4 );
	background-color: var( --e-global-color-3303c00 );
	box-shadow: 0px 20px 20px 0px rgba(255, 255, 255, 0.05);
}
.elementor-kit-3 label {
	font-family: "Heebo", Sans-serif;
	font-weight: 500;
	line-height: 1.6em;
}
.elementor-kit-3 input:not([type="button"]):not([type="submit"]), .elementor-kit-3 textarea, .elementor-kit-3 .elementor-field-textual {
	color: #fff;
	/*background-color: var( --e-global-color-1a97da0 );
	border-style: solid;
	border-width: 0px 0px 0px 0px;*/
	/* border: 1px solid #fff; */
}
li.menu-item a.elementor-item {
    color: #fff;
}
section.ob-is-breaking-bad.elementor-section.elementor-top-section.elementor-element.elementor-element-50df6d0.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.ab-pd {
    padding-bottom: 3em;
}
.elementor-column.elementor-col-50.elementor-top-column.elementor-element.elementor-element-925752d.mt {
	margin-top: 2em;
}
.elementor-widget-wrap.elementor-element-populated.sp p.sp{
	margin-top: 1.5em;
	padding-left: 1em;
}
h2.elementor-heading-title.elementor-size-default.color-black.mb {
	margin-bottom: .5em;
}
.elementor-kit-3 input:focus:not([type="button"]):not([type="submit"]), .elementor-kit-3 textarea:focus, .elementor-kit-3 .elementor-field-textual:focus {
	color: var( --e-global-color-ace720c );
	background-color: var( --e-global-color-a5eb6b4 );
}
.elementor-section.elementor-section-boxed > .elementor-container {
	max-width: 1280px;
}
.elementor-widget:not(:last-child) {
	margin-bottom: 20px;
}
{
}
h1.entry-title {
	display: var(--page-title-display);
}

@media(max-width:1024px) {
.elementor-kit-3 {
--e-global-typography-085b5de-font-size:15px;
--e-global-typography-46a9280-font-size:13px;
--e-global-typography-dcb1a32-font-size:50px;
--e-global-typography-9f2a5a0-font-size:38px;
--e-global-typography-c51ecf0-font-size:28px;
--e-global-typography-dae5610-font-size:21px;
--e-global-typography-6609f2f-font-size:18px;
--e-global-typography-e58e5eb-font-size:15px;
	font-size: var( --e-global-typography-085b5de-font-size );
	line-height: var( --e-global-typography-085b5de-line-height );
	letter-spacing: var( --e-global-typography-085b5de-letter-spacing );
}
.elementor-kit-3 h1 {
	font-size: var( --e-global-typography-dcb1a32-font-size );
	line-height: var( --e-global-typography-dcb1a32-line-height );
	letter-spacing: var( --e-global-typography-dcb1a32-letter-spacing );
}
.elementor-kit-3 h2 {
	font-size: var( --e-global-typography-9f2a5a0-font-size );
	line-height: var( --e-global-typography-9f2a5a0-line-height );
	letter-spacing: var( --e-global-typography-9f2a5a0-letter-spacing );
}
.elementor-kit-3 h3 {
	font-size: var( --e-global-typography-c51ecf0-font-size );
	line-height: var( --e-global-typography-c51ecf0-line-height );
	letter-spacing: var( --e-global-typography-c51ecf0-letter-spacing );
}
.elementor-kit-3 h4 {
	font-size: var( --e-global-typography-dae5610-font-size );
	line-height: var( --e-global-typography-dae5610-line-height );
	letter-spacing: var( --e-global-typography-dae5610-letter-spacing );
}
.elementor-kit-3 h5 {
	font-size: var( --e-global-typography-6609f2f-font-size );
	line-height: var( --e-global-typography-6609f2f-line-height );
	letter-spacing: var( --e-global-typography-6609f2f-letter-spacing );
}
.elementor-kit-3 h6 {
	font-size: var( --e-global-typography-e58e5eb-font-size );
	line-height: var( --e-global-typography-e58e5eb-line-height );
	letter-spacing: var( --e-global-typography-e58e5eb-letter-spacing );
}
.elementor-section.elementor-section-boxed > .elementor-container {
	max-width: 1024px;
}
}

@media(max-width:767px) {
.elementor-kit-3 {
--e-global-typography-085b5de-font-size:14px;
--e-global-typography-46a9280-font-size:12px;
--e-global-typography-dcb1a32-font-size:38px;
--e-global-typography-9f2a5a0-font-size:28px;
--e-global-typography-c51ecf0-font-size:21px;
--e-global-typography-dae5610-font-size:18px;
--e-global-typography-6609f2f-font-size:16px;
--e-global-typography-e58e5eb-font-size:14px;
--e-global-typography-ce49889-font-size:14px;
	font-size: var( --e-global-typography-085b5de-font-size );
	line-height: var( --e-global-typography-085b5de-line-height );
	letter-spacing: var( --e-global-typography-085b5de-letter-spacing );
}
.elementor-kit-3 h1 {
	font-size: var( --e-global-typography-dcb1a32-font-size );
	line-height: var( --e-global-typography-dcb1a32-line-height );
	letter-spacing: var( --e-global-typography-dcb1a32-letter-spacing );
}
.elementor-kit-3 h2 {
	font-size: var( --e-global-typography-9f2a5a0-font-size );
	line-height: var( --e-global-typography-9f2a5a0-line-height );
	letter-spacing: var( --e-global-typography-9f2a5a0-letter-spacing );
}
.elementor-kit-3 h3 {
	font-size: var( --e-global-typography-c51ecf0-font-size );
	line-height: var( --e-global-typography-c51ecf0-line-height );
	letter-spacing: var( --e-global-typography-c51ecf0-letter-spacing );
}
.elementor-kit-3 h4 {
	font-size: var( --e-global-typography-dae5610-font-size );
	line-height: var( --e-global-typography-dae5610-line-height );
	letter-spacing: var( --e-global-typography-dae5610-letter-spacing );
}
.elementor-kit-3 h5 {
	font-size: var( --e-global-typography-6609f2f-font-size );
	line-height: var( --e-global-typography-6609f2f-line-height );
	letter-spacing: var( --e-global-typography-6609f2f-letter-spacing );
}
.elementor-kit-3 h6 {
	font-size: var( --e-global-typography-e58e5eb-font-size );
	line-height: var( --e-global-typography-e58e5eb-line-height );
	letter-spacing: var( --e-global-typography-e58e5eb-letter-spacing );
}
.elementor-section.elementor-section-boxed > .elementor-container {
	max-width: 767px;
}
}
